<ol class="breadcrumb" style="background-color:#fbfbfb">
    <li class="breadcrumb-item"><a routerLink="/ventas">Inicio</a></li>
    <li class="breadcrumb-item"><a routerLink="#">Categoría de productos</a></li>
</ol>
<div class="row">

    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                Grilla categoría de productos
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input placeholder="Ingrese búsqueda" [(ngModel)]="buscar" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>Operaciones</th>
        
                        </tr>
                    </thead> 
        
                    <tbody>
                        <tr *ngFor = "let categoria of listCategoria | filter:buscar | paginate:{itemsPerPage:10,currentPage:p}">
                            <td>{{categoria.id_categoria}}</td>
                            <td>{{categoria.descripcion}}</td>
                            
        
                            <td>
                                <div *ngIf="categoria.estado == 0; else loggedOut">
                                    <span class="badge badge-danger">Inactivo</span>
                                  </div>
                                  
                                  <ng-template #loggedOut>
                                    <span class="badge badge-success">Activo</span>
                                  </ng-template>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm" >
                                     <button class="btn btn-danger" (click)="eliminarCategoria(categoria.id_categoria)"  ><i class="fas fa-trash"></i></button><!-- eliminar -->
                                   <button  class="btn btn-primary" (click)="editarCategoria(categoria)"> <i class="fas fa-edit"></i> </button><!--modificar -->
                               </div>
                            </td>
        
                        </tr>
                    </tbody>
        
                </table>
                <div class="row">
                    <div class="col-sm-5">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="col-sm-4">
        
        <div class="card">
            <div class="card-header">Formulario de categorias</div>
            <div class="card-body">


                <form [formGroup]="formCategoria" (ngSubmit)= "guardarCategoria()">
                    <input formControlName='id_categoria' class="form-control" type="hidden" readonly>
                    <div class="form-group">
                        <input formControlName="descripcion" placeholder="Ingrese la descripcion" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <select name="" id="" formControlName="estado" class="form-control" placeholder="Ingrese el estado">
                            <option value="0" active selected>Inactivo</option>
                            <option value="1" >Activo</option>
                        </select>
                    </div>
                    
                    <div class="btn-group">
                        <button [class]="class_button_sa">{{text_button}}</button>
                        <button [style]="class_display" type="button" class="btn btn-danger btn-sm" (click)="resetearformCategoria()">Cancelar</button> 
                    </div>
                    
                </form>


            </div>
        </div>

    </div>

</div>

