<ol class="breadcrumb" style="background-color:#fbfbfb">
    <li class="breadcrumb-item"><a routerLink="/ventas">Inicio</a></li>
    <li class="breadcrumb-item"><a routerLink="#">Categoría de gastos</a></li>
</ol>
<div class="row">

    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                Grilla categoría gastos
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input placeholder="Ingrese búsqueda" [(ngModel)]="buscar" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Descripcion</th>
                            <th>Operaciones</th>
        
                        </tr>
                    </thead> 
        
                    <tbody>
                        <tr *ngFor = "let categoria_gasto of listCategoria_gasto | filter:buscar | paginate:{itemsPerPage:10,currentPage:p}">
                            <td>{{categoria_gasto.id_categoria_gasto}}</td>
                            <td>{{categoria_gasto.descripcion}}</td>
                            <td>
                                <div class="btn-group btn-group-sm" >
                                    <button class="btn btn-danger" (click)="eliminarCategoria_gasto(categoria_gasto.id_categoria_gasto)"  ><i class="fas fa-trash"></i></button> <!--eliminar -->
                                   <button  class="btn btn-primary" (click)="editarCategoria_gasto(categoria_gasto)"> <i class="fas fa-edit"></i> </button><!-- modificar -->
                                   
                               </div>
                            </td>
        
                        </tr>
                    </tbody>
        
                </table>
                <div class="row">
                    <div class="col-sm-5">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
       

    </div>

    <div class="col-sm-4">
        
        <div class="card">
            <div class="card-header">Formulario de categorias de gastos</div>
            <div class="card-body">


                <form [formGroup]="formCategoria_gasto" (ngSubmit)= "guardarCategoria_gasto()">
                    <input formControlName='id_categoria_gasto' class="form-control" type="hidden" readonly>
                    <div class="form-group">
                        <input formControlName="descripcion" placeholder="Ingrese la descripcion" type="text" class="form-control">
                    </div>
                    
                    <div class="btn-group">
                        <button [class]="class_button_sa">{{text_button}}</button>
                        <button type="button" [style]="class_display" class="btn btn-danger btn-sm" (click)="resetearformCategoria_gasto()">Cancelar</button>
                    </div>
                   
                </form>


            </div>
        </div>

    </div>

</div>
