/*.list-group{
    max-height: 200px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}*/

.list-group{
    max-height: 300px;
    margin-bottom: 5px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

thead {
    flex: 0 0 auto;
}

tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    height: 450px;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}