
<ol class="breadcrumb" style="background-color:#fbfbfb">
    <li class="breadcrumb-item"><a routerLink="/ventas"><b>Inicio</b></a></li>
    <li class="breadcrumb-item"><a routerLink="#"><b>Nueva venta</b></a></li>
</ol>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div align="center" class="card-header">VENDEDORES <small class="float-sm-right"><span class="badge badge-info" style="font-size:11px;">{{cantidad_vendedores}}</span></small></div>
                </div>
   
                <div class="card mb-3 mt-3">
                    <div class="pl-3 pr-3 pb-3">
                        <input placeholder="Ingrese búsqueda" [(ngModel)]="buscarVendedor" type="text" class="form-control">
                    </div>
                </div>
                
                <ul class="list-group">

                    <ng-container *ngFor="let vendedor of listVendVentas | filter:buscarVendedor; let index = index;">
                        <ng-container *ngIf="vendedor.estado == 1">
                            <li style="cursor: pointer;"   [ngClass]="{'active': index === activePillIndex}" (click)="selectPill(index,vendedor.id_vendedor,vendedor.nombre,vendedor.apellido,vendedor.imagen_perfil)"  class="list-group-item list-group-item-action" >
                       
                                <span class="pull-left ">

                                    <div *ngIf="vendedor.imagen_perfil; else imgdefecto">
                                        <img  [src]="(vendedor.imagen_perfil).substr(0,57)+'w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_black,b_rgb:262c35'+(vendedor.imagen_perfil).substr(56)" style="width: 20%;"  class="img-fluid rounded-circle" />
                                        {{vendedor.nombre}}, {{vendedor.apellido}}
                                    </div>
                                    <ng-template #imgdefecto>
                                        <img  src="https://uybor.uz/borless/uybor/img/user-images/no-avatar.png" style="width: 20%;"  class="img-fluid rounded-circle" />
                                        {{vendedor.nombre}}, {{vendedor.apellido}}
                                    </ng-template>
                               
                                </span>
                               
                            </li>
                        </ng-container>
                    </ng-container>
                   
                </ul>
            </div>
            <div class="col-md-9 col-lg-9 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills">
                            <!--<li class="nav-item mr-sm-2">
                                <input type="text" [(ngModel)]="buscar" class="form-control form-control-sm p-3" placeholder="Ingrese búsqueda...">
                            </li>-->
                            <li class="nav-item mr-sm-2">
                                CARGA DE PLANILLA
                            </li>
                            <li class="nav-item ml-auto">
                                <a (click)="verSeguimiento(idVendedor,nombre_ape)" class="btn btn-outline-primary btn-sm">Seguimiento de ventas</a>
                               
                                <button type="button" class="btn btn-outline-warning btn-sm" (click)="generatePdf()">
                                    Generar pdf
                                </button>

                               
                                <a (click)="getInputs()" class="btn btn-outline-success btn-sm">Finalizar y enviar</a>
   
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                            <form [formGroup]="formVenta" >
                                <div class="row" style="padding-bottom: 10px;padding-top: 0px;">
                                    <input type="hidden" formControlName="vendedor" placeholder="vendedor">

                                    <div class="col-md-5">
                                        <span>
                                            <div *ngIf="mifoto; else img" style="cursor:pointer;" >
                                                <img  data-toggle="modal" data-target="#myModalVendedor"  [src]="mifoto" style="width: 20%;"  class="img-fluid rounded-circle" />
                                                {{nombre_ape}}
                                            </div>
                                            <ng-template #img>
                                                <img src="https://uybor.uz/borless/uybor/img/user-images/no-avatar.png" style="width: 20%;"  class="img-fluid rounded-circle" />
                                                {{nombre_ape}}
                                            </ng-template>
                                            
                                        </span>
                                    </div>

                                    <div class="col-md-2" style="padding-top: 0px;">
                                        <input #myInput autofocus type="text" class="form-control"  (keydown.enter)="guardarVentaPorLector($event.target.value)" formControlName="producto" placeholder="codigo">
                                    </div>
                                    <div class="col-md-2" style="padding-top: 25px;">
                                        <!--<input type="number" class="form-control"  (keydown.enter)="guardarVentaPorLector('')" formControlName="cantidad" placeholder="cantidad">-->
                                        <div class="btn-group btn-group-sm"  aria-label="Basic example">
                                            <button  (click)="dis();myInput.focus()" type="button" class="btn btn-outline-danger" ><i class="fas fa-minus"></i></button>
                                            <input value="1" type="number" readonly style="width: 40px;" formControlName="cantidad">
                                            <button (click)="inc();myInput.focus()" type="button" class="btn btn-outline-success"><i class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ml-auto">
                                        <span class="badge badge-danger" style="font-size: 11px;">T. IMPAGAS: ${{total_impagas}}</span>
                                    </div>
                                    <!--<div class="col-md-2">
                                        <select name="" id="" formControlName="forma_pago" class="form-control">
                                            <option value="-1" disabled selected>Ingrese f. de pago</option>
                                            <option value="0" active selected>Efectivo</option>
                                            <option value="1" active selected>Tarjeta</option>
                                        </select>
                                    </div>-->
                                    <!--<div class="col-md-2">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="basic-addon1"><b>%</b></span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="descuento_aplicado" placeholder="Descuento" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                    </div>-->
                                    
                                  
                                </div>
                            </form>
                        <div class="table-responsive-sm table-responsive-md table-responsive-lg">
                        <table class="table table-striped table-sm" >

                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Cod. Prod.</th>
                                    <th style="width: 20%;">Producto</th>
                                    <th>Cant.</th>
                                    <th>Imp.Uni.(costo)</th>
                                    <th>Imp.Uni.(venta)</th>
                                    <!--<th>Imp. Total</th>-->
                                    <th>Fecha de Venta</th>
                                    <!--<th>Estado</th>
                                    <th>F. de pago</th>-->
                                    <!--<th>Desc.</th>-->
                                    <th>A impagas</th>
                                    <th>Devuelve</th>
                                    <!--<th></th>-->
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr *ngFor="let venta of listVentas | filter:buscarVenta ">
                                    <td>{{venta.id_venta}}</td>
                                    <td>
                                        <span class="badge badge-warning">{{venta.codigo_producto}}</span>
                                    </td>
                                    <td style="width: 20%;">{{venta.producto_descripcion}}</td>
                                    <td>
                                        <span class="badge badge-info">{{venta.cantidad}}</span>
                                    </td>
                                    <td>${{venta.precio_costo}}</td>
                                    <td>${{venta.precio_venta}}</td>
                                    <!--<td>${{venta.importe_unitario}}</td>-->
                                    <!--<td>${{venta.importe}}</td>-->


                                    <td>{{venta.fecha_venta_formateada}}</td>
                                    <!--<td>{{venta.descuento_aplicado}}</td>-->
                                   
                                    <input [value]="venta.producto" id="i_{{venta.id_venta}}_input_producto" type="hidden">
                                    <input [value]="venta.fecha_venta_origin" id="i_{{venta.id_venta}}_input_fecha_venta" type="hidden">
                                    <input [value]="venta.precio_costo" id="i_{{venta.id_venta}}_input_precio_unitario" type="hidden">
                                    
                                    <td>
                                        <div class="btn-group btn-group-sm"  aria-label="Basic example">
                                            <button  (click)="disminuir(venta.id_venta,'i','d',venta.cantidad)" type="button" class="btn btn-outline-danger"><i class="fas fa-minus"></i></button>
                                            <input value="0" #inputs_i id="i_{{venta.id_venta}}_input" type="text" readonly style="width: 30px;">
                                            <button (click)="incrementar(venta.id_venta,'i','d',venta.cantidad)" type="button" class="btn btn-outline-success"><i class="fas fa-plus"></i></button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <button  (click)="disminuir(venta.id_venta,'d','i',venta.cantidad)" type="button" class="btn btn-outline-danger"><i class="fas fa-minus"></i></button>
                                            <input value="0"  #inputs_d id="d_{{venta.id_venta}}_input" type="text" readonly style="width: 30px;">
                                            <button (click)="incrementar(venta.id_venta,'d','i',venta.cantidad)" type="button" class="btn btn-outline-success"><i class="fas fa-plus"></i></button>
                                        </div>
                                    </td>
                                    <!--<td><button (click)="devolverStock(venta.id_venta)" class="btn btn-outline-danger btn-sm"><i class="fa fa-reply"></i></button></td>-->
                                </tr>
    
                            </tbody>
    
                        </table>
                        <div class="row">
                            <!--<div class="col-sm-5">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>-->
                            <div class="col-sm-2 ml-auto">
                                <span class="badge badge-info" style="font-size:11px;">Total prendas: {{cantidad_prendas2}}</span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  <div  aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <div id="toast-generic" [class]="toastclass"  style="position: absolute; bottom:450px; right: 0;">
      <div class="toast-body">
       {{toastmensaje}}
      </div>
    </div>
  </div>

  <div id="myModalVendedor" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h5>VENDEDOR: {{nombre_ape}} </h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <img [src]="mifoto" class="img-fluid" alt="">
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
      </div>
  
    </div>
  </div>