
<h3>Estadísticas generales</h3>
<div class="row mb-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-outline-primary align-right" data-toggle="modal" data-target="#exampleModal">
                            Filtrar
                        </button>
                    </div>
                    <div class="col-6 text-center">
                        RANGO DE BUSQUEDA
                      <h3 [innerHTML]="rango" style="margin-bottom: 0px;"></h3>
                    </div>
                    <div class="col">
              
                    </div>
                  </div>
              
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-3">
      <div class="row">
        <div class="col-12 mb-3">
          <div class="card text-white text-center bg-success">
            <div class="card-header">Ventas pagas</div>
            <div class="card-body">
              <h2 class="card-title">${{total_pagas}}</h2>
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <div class="card text-white text-center bg-danger">
            <div class="card-header">Ventas impagas</div>
            <div class="card-body">
              <h2 class="card-title">${{total_impagas}}</h2>
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <div class="card text-dark text-center bg-warning">
            <div class="card-header">Gastos fijos</div>
            <div class="card-body">
              <h2 class="card-title">${{total_gastos}}</h2>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-9">
    <div [chart]="chart3" style="box-shadow:1px 1px 2px 1px rgb(155, 155, 155);" class="mb-3"></div>
  </div>
</div>


<div [chart]="chart1" style="box-shadow:1px 1px 2px 1px rgb(155, 155, 155);" class="mb-3"></div>

<div [chart]="chart2" style="box-shadow:1px 1px 2px 1px rgb(155, 155, 155);" class="mb-3"></div>

<!--<div [chart]="chart4" style="box-shadow:1px 1px 2px 1px rgb(155, 155, 155);" class="mb-3"></div>-->

<div [chart]="chart5" style="box-shadow:1px 1px 2px 1px rgb(155, 155, 155);" class="mb-3"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title"  id="exampleModalLabel">Filtro por fecha</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
    
                    <div class="mb-3">
                        <label class="form-label">Fecha desde</label>
                        <input [(ngModel)]="fdesde" type="date" class="form-control">
                    </div>
     
                    <div class="mb-3">
                        <label class="form-label">Fecha hasta</label>
                        <input [(ngModel)]="fhasta" type="date" class="form-control">
                    </div>
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button (click)="iniciarGraficosPorFiltros()"  data-dismiss="modal" type="button" class="btn btn-primary">Aplicar</button>
        </div>
      </div>
    </div>
  </div>